* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ADLaM Display', cursive;
    font-family: 'Archivo Black', sans-serif;
}

.container {
    height: 100vh;
    background: rgb(183,200,43);
    background: linear-gradient(180deg, rgba(183,200,43,1) 0%, rgba(35,156,10,1) 100%);
}

header {
    text-align: center;
    padding: 20px 10px;
    font-size: 50px;
    color: orange;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 4px 4px #e0dddd;
    align-items: center;
}

header ul  {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 30px;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header ul li:hover {
    color: white;
}

h1 {
    font-size: 50px; 
    background: linear-gradient(262deg, rgba(60,36,26,1) 0%, rgba(230,63,13,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    mask-image: linear-gradient(262deg, rgba(60,36,26,1) 0%, rgba(230,63,13,1) 100%);
}

.dropdown {
    background-color: white;
    padding: 10px;
    width: 208px;
    border-radius: 2px;
    position: absolute;
    font-size: 18px;
    top: 80px;
    margin-left: 30px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -4px 30px 0px 23px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -4px 30px 0px 23px rgba(0,0,0,0);
}

.dropdown > div {
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dropdown > div:hover {
    background-color: antiquewhite;
}

.container-cards {
    max-width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 60px;
    display: flex;
}

.container-cards > .card {
    width: calc(100% / 3);
    background-color: red;
    height: 600px;
    margin: 0 15px;
}

.img-card > img {
    width: 100%;
    object-fit: cover;
}