<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP OOP 2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Archivo+Black&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
    <body>
        <div id="app" class="container">
            <header>
                <h1>
                    Bool Animals
                </h1>

                <nav>
                    <ul>
                        <li>
                            <span @mouseover="show()">
                                Categories
                            </span>
                        </li>
                        <li>
                            <span>
                                Links
                            </span>
                        </li>
                        <div class="dropdown" v-if="showCat == true" @mouseleave="hidden()"> 
                            <div class="dogs" @click="getData()">
                                Dogs
                            </div>
                            <div class="cats">
                                Cats
                            </div>
                        </div>
                        <li>
                            <span>
                                Contacts
                            </span>
                        </li>
                    </ul>
                </nav>
                <a href="database/db.php">VAI</a>
            </header>
            

            <main>
                <div class="container-cards">
                    <div class="card" v-for="singleFood in foods">
                        <div class="img-card">
                            <img :src="singleFood.img" alt="">
                        </div>
                    </div>
                </div>
            </main>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="js/script.js"></script>
    </body>
</html>